* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background-color: #eeeeee95;
    color: #000;
}

.no-scroll {
    overflow: hidden;
}

svg {
    display: block;
    margin-bottom: 0px;
}

main.app {
    width: 100%;
    max-width: 30rem;
    overflow-x: hidden;
    min-height: 100dvh;
    margin: 0% auto;
}

button {
    cursor: pointer;
    outline: none;
}

button:disabled {
    cursor: no-drop;
    opacity: 0.7;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.main-btn {
    width: 100%;
    padding: 1.15rem 0.7rem;
    border-radius: 8px;
    border: none;
    font-size: 0.95rem;
    gap: 0.8rem;
    font-weight: 500;
    background-color: dodgerblue;
    color: #fff;
}

.modal {
    position: fixed;
    width: 100%;
    max-width: 35rem;
    margin: 0% auto;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.modal .modal-box {
    position: relative;
    background-color: #fff;
    width: 90%;
    height: max-content;
    margin: 3rem auto;
    max-width: 25rem;
    left: 0;
    right: 0;
    border-radius: 10px;
    animation-name: fromTop;
    animation-duration: 0.5s;
    -webkit-animation-name: fromTop;
    -webkit-animation-duration: 0.5s;
    padding-top: 1.5rem;
}

.modal .modal-title {
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
}

.modal .modal-title h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

.modal .modal-title .close {
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.modal .body {
    padding: 1.7rem 1.5rem;
}

@keyframes fromTop {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.form-group label {
    font-weight: 500;
    font-size: 0.95rem;
}

.basic-input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 1.2rem 1.6rem;
    font-size: 0.9rem;
    transition: 0.2s ease-in-out all;
    -webkit-transition: 0.2s ease-in-out all;
    outline: none;
    background-color: #fff;
    color: #000;
    resize: none;
}

.basic-input:focus {
    border: 1px solid dodgerblue;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    padding-right: 1.4rem !important;
    cursor: pointer;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.welcome-screen {
    width: 100%;
    height: 100dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.welcome-screen .h-100 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.welcome-screen .h-100 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.welcome-screen .h-100 > div .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}

.welcome-screen .h-100 > div .content svg {
    opacity: 0.2;
    margin-bottom: 1rem;
}

.welcome-screen .h-100 > div .content h2 {
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    max-width: 20rem;
    line-height: 150%;
}

.welcome-screen .h-100 > div .content p {
    font-size: 0.9rem;
    line-height: 200%;
    opacity: 0.35;
    width: 88%;
}

.welcome-screen .h-100 > div .dots {
    border: 1px solid #ccc;
    padding: 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border-radius: 100px;
    background-color: #eeeeee49;
}

.welcome-screen .h-100 > div .dots span {
    width: 0.7rem;
    height: 0.7rem;
    display: block;
    border-radius: 50%;
    background-color: #ddd;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}

.welcome-screen .h-100 > div .dots span.active {
    background-color: #aaa;
    border: 1px solid #555;
}

.welcome-screen .position-absolute {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.loading-screen {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0;
    flex-direction: column;
    position: relative;
}

.loading-screen > div {
    gap: 1.5rem;
}

.loading-screen p {
    font-family: var(--font-secondary);
    font-size: 1.4rem;
    font-weight: 600;
}

span.loader {
    display: block;
    position: relative;
    height: 32px;
    width: 150px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 20px;
}

span.loader:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ff3d00;
    animation: ballbns 3s ease-in-out infinite;
}

@keyframes ballbns {
    0% {
        left: 0;
        transform: translateX(0%);
        box-shadow: -5px 0 0 -1px rgba(255, 61, 0, 0.9), -10px 0 0 -2px rgba(255, 61, 0, 0.8),
            -15px 0 0 -4px rgba(255, 61, 0, 0.6), -20px 0 0 -6px rgba(255, 61, 0, 0.4),
            -25px 0 0 -8px rgba(255, 61, 0, 0.2);
    }
    49% {
        left: 100%;
        transform: translateX(-100%);
        box-shadow: -5px 0 0 -1px rgba(255, 61, 0, 0.9), -10px 0 0 -2px rgba(255, 61, 0, 0.8),
            -15px 0 0 -4px rgba(255, 61, 0, 0.6), -20px 0 0 -6px rgba(255, 61, 0, 0.4),
            -25px 0 0 -8px rgba(255, 61, 0, 0.2);
    }
    51% {
        left: 100%;
        transform: translateX(-100%);
        box-shadow: 5px 0 0 -1px rgba(255, 61, 0, 0.9), 10px 0 0 -2px rgba(255, 61, 0, 0.8),
            15px 0 0 -4px rgba(255, 61, 0, 0.6), 20px 0 0 -6px rgba(255, 61, 0, 0.4),
            25px 0 0 -8px rgba(255, 61, 0, 0.2);
    }
    100% {
        left: 0;
        transform: translateX(0%);
        box-shadow: 5px 0 0 -1px rgba(255, 61, 0, 0.9), 10px 0 0 -2px rgba(255, 61, 0, 0.8),
            15px 0 0 -4px rgba(255, 61, 0, 0.6), 20px 0 0 -6px rgba(255, 61, 0, 0.4),
            25px 0 0 -8px rgba(255, 61, 0, 0.2);
    }
}

.modal .instructions {
    padding: 0 0.3rem;
    padding-bottom: 0.7rem;
}

.modal .instructions p {
    font-size: 0.9rem;
    line-height: 190%;
    opacity: 0.7;
    margin-bottom: 1rem;
}

.modal .instructions ul {
    list-style-type: none;
    border-left: 1px solid #ccc;
    padding: 1rem 0;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    margin-bottom: 1.6rem;
}

.modal .instructions ul li {
    position: relative;
    font-size: 0.85rem;
    line-height: 195%;
    color: #777;
}

.modal .instructions ul li strong {
    font-weight: 500;
    color: #000;
}

.modal .instructions ul li a {
    color: blue;
    text-decoration: none;
    border-bottom: 1px solid blue;
    padding: 0.1rem;
}

.modal .instructions ul li::after {
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    display: block;
    left: -1.38rem;
}

.modal .instructions > div {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}

.modal .instructions > div button {
    width: 100%;
    padding: 1.05rem 0.4rem;
    border-radius: 6px;
    border: none;
    background-color: dodgerblue;
    color: #fff;
    font-size: 0.85rem;
    font-weight: 500;
}

.modal .instructions > div a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-size: 0.85rem;
    gap: 0.5rem;
    font-weight: 400;
    color: #888;
}

.main-screen {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    padding: 0.8rem 1.6rem;
    position: fixed;
    width: 100%;
    max-width: 30rem;
    z-index: 999;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid #ced5e56c;
}

.navbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #000;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}

.navbar button svg {
    stroke-width: 1.2px;
}

.navbar img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: #eee;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
    padding: 2.5rem 0;
    font-size: 0.9rem;
}

footer p {
    opacity: 0.5;
}

footer span {
    font-weight: 500;
}

.main-body {
    padding: 4rem 0.5rem;
    padding-top: 7.5rem;
}

.main-body .title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.7rem;
}

.main-body .title p {
    font-size: 0.88rem;
    text-transform: lowercase;
    opacity: 0.4;
    font-weight: 300;
}

.main-body .title h1 {
    font-size: 1.7rem;
    font-weight: 600;
}

.credential {
    border: 1px solid #ddd;
    padding: 1.2rem 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
}

svg {
    display: block;
}

.credential .top div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: green;
    font-weight: 500;
    font-size: 0.75rem;
    border: 1px solid green;
    background-color: rgba(0, 128, 0, 0.07);
    border-radius: 100px;
    padding: 0.45rem 0.9rem;
}

.credential .top h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.credential .top svg {
    stroke-width: 2px;
}

.credential .json {
    background-color: #eeeeee71;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.1rem 0.9rem;
    font-weight: 400;
    font-size: 0.9rem;
}

.credential .info {
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
}

.credential .info > div {
    gap: 0.9rem;
}

.credential .info > div p {
    border-left: 1px solid #bbb;
    padding-left: 1rem;
    width: 85%;
    font-size: 0.85rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #888;
}

.credential .info > div p strong {
    font-weight: 500;
    color: #555;
}

.empty {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
    padding: 4rem 0;
}

.empty svg {
    stroke-width: 0.8px;
    margin-bottom: 0.6rem;
    opacity: 0.3;
}

.empty p {
    font-size: 1rem;
    font-weight: 500;
}

.empty a {
    color: dodgerblue;
    border-bottom: 1px solid dodgerblue;
    padding: 0.2rem 0.15rem;
    font-size: 0.9rem;
    width: max-content;
}

.image-form {
    width: max-content;
}

.image-form img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.image-form .position-absolute {
    width: 2.3rem;
    height: 2.3rem;
    background-color: #ffff;
    border: 2px solid #eee;
    color: #000;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.image-form .position-absolute svg {
    stroke-width: 2px;
}
