* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background-color: #fafafa;
    color: #000;
}

.no-scroll {
    overflow: hidden;
}

svg {
    display: block;
    margin-bottom: 0px;
}

main.app {
    width: 100%;
    max-width: 30rem;
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0% auto;
}

button {
    cursor: pointer;
    outline: none;
}

button:disabled {
    cursor: no-drop;
    opacity: 0.7;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.main-btn {
    width: 100%;
    padding: 1.15rem 0.7rem;
    border-radius: 8px;
    border: none;
    font-size: 0.95rem;
    gap: 0.8rem;
    font-weight: 500;
    background-color: dodgerblue;
    color: #fff;
}

.modal {
    position: fixed;
    width: 100%;
    max-width: 35rem;
    margin: 0% auto;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;
}

.modal .modal-box {
    position: relative;
    background-color: #fff;
    width: 90%;
    height: max-content;
    margin: 3rem auto;
    max-width: 25rem;
    left: 0;
    right: 0;
    border-radius: 10px;
    animation-name: fromTop;
    animation-duration: 0.5s;
    -webkit-animation-name: fromTop;
    -webkit-animation-duration: 0.5s;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding: 1.5rem 0;
}

.modal .modal-title {
    width: 100%;
    padding: 0.3rem 1rem;
    text-align: center;
}

.modal .modal-title h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

.modal .modal-title .close {
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.modal .body {
    padding: 0rem 1.5rem;
}

@keyframes fromTop {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.form-group label {
    font-weight: 500;
    font-size: 0.95rem;
}

.basic-input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 1.2rem 1.6rem;
    font-size: 0.9rem;
    transition: 0.2s ease-in-out all;
    -webkit-transition: 0.2s ease-in-out all;
    outline: none;
    background-color: #fff;
    color: #000;
    resize: none;
}

.basic-input:focus {
    border: 1px solid dodgerblue;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    padding-right: 1.4rem !important;
    cursor: pointer;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.welcome-screen {
    width: 100%;
    height: 100dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.welcome-screen .h-100 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.welcome-screen .h-100 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.welcome-screen .h-100 > div .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}

.welcome-screen .h-100 > div .content svg {
    opacity: 0.8;
    margin-bottom: 1rem;
}

.welcome-screen .h-100 > div .content h2 {
    font-size: 1.6rem;
    font-weight: 600;
    width: 100%;
    max-width: 20rem;
    line-height: 150%;
}

.welcome-screen .h-100 > div .content p {
    font-size: 0.9rem;
    line-height: 220%;
    opacity: 0.35;
    width: 90%;
}

.welcome-screen .h-100 > div .dots {
    border: 1px solid #ccc;
    padding: 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border-radius: 100px;
    background-color: #eeeeee49;
}

.welcome-screen .h-100 > div .dots span {
    width: 0.7rem;
    height: 0.7rem;
    display: block;
    border-radius: 50%;
    background-color: #ddd;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}

.welcome-screen .h-100 > div .dots span.active {
    background-color: #aaa;
    border: 1px solid #555;
}

.welcome-screen .position-absolute {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.loading-screen {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0;
    flex-direction: column;
    position: relative;
}

.loading-screen > div {
    gap: 1.3rem;
}

.loading-screen .h-100 svg {
    opacity: 0.6;
    animation: zoom 2.5s;
    animation-iteration-count: infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

.loading-screen p {
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    font-weight: 500;
}

.modal .instructions {
    padding: 0 0.3rem;
    padding-bottom: 0.7rem;
}

.modal .instructions p {
    font-size: 0.9rem;
    line-height: 190%;
    opacity: 0.7;
    margin-bottom: 1rem;
}

.modal .instructions ul {
    list-style-type: none;
    border-left: 1px solid #ccc;
    padding: 1rem 0;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    margin-bottom: 1.6rem;
}

.modal .instructions ul li {
    position: relative;
    font-size: 0.85rem;
    line-height: 195%;
    color: #777;
}

.modal .instructions ul li strong {
    font-weight: 500;
    color: #000;
}

.modal .instructions ul li a {
    color: blue;
    text-decoration: none;
    border-bottom: 1px solid blue;
    padding: 0.1rem;
}

.modal .instructions ul li::after {
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    display: block;
    left: -1.38rem;
}

.modal .instructions > div {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}

.modal .instructions > div button {
    width: 100%;
    padding: 1.05rem 0.4rem;
    border-radius: 6px;
    border: none;
    background-color: dodgerblue;
    color: #fff;
    font-size: 0.85rem;
    font-weight: 500;
}

.modal .instructions > div a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-size: 0.85rem;
    gap: 0.5rem;
    font-weight: 400;
    color: #888;
}

.main-screen {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    padding: 0.8rem 1.6rem;
    position: fixed;
    width: 100%;
    max-width: 30rem;
    z-index: 999;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #ced5e56c;
}

.navbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #000;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}

.navbar button svg {
    stroke-width: 1.2px;
}

.navbar img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: #eee;
}

.main-body {
    padding: 4rem 0.5rem;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.main-body .title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.7rem;
}

.main-body .title p {
    font-size: 0.88rem;
    text-transform: lowercase;
    opacity: 0.5;
    font-weight: 300;
}

.main-body .title h1 {
    font-size: 1.7rem;
    font-weight: 600;
}

.credential {
    border: 1px solid #ddd;
    padding: 1.2rem 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
}

svg {
    display: block;
}

.credential .top div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: green;
    font-weight: 500;
    font-size: 0.75rem;
    border: 1px solid green;
    background-color: rgba(0, 128, 0, 0.07);
    border-radius: 100px;
    padding: 0.45rem 0.9rem;
}

.credential .top h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.credential .top svg {
    stroke-width: 2px;
}

.credential .json {
    background-color: #eeeeee71;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.1rem 0.9rem;
    font-weight: 400;
    font-size: 0.9rem;
}

.credential .info {
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
}

.credential .info > div {
    gap: 0.9rem;
}

.credential .info > div p {
    border-left: 1px solid #bbb;
    padding-left: 1rem;
    width: 85%;
    font-size: 0.85rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #888;
}

.credential .info > div p strong {
    font-weight: 500;
    color: #555;
}

.empty {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 8rem 0;
    align-items: center;
}

.empty svg {
    stroke-width: 1px;
    opacity: 0.4;
    margin-bottom: 0.6rem;
}

.empty p {
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.35;
}

.empty a {
    color: dodgerblue;
    border-bottom: 1px solid dodgerblue;
    padding: 0.2rem 0.15rem;
    font-size: 0.9rem;
    width: max-content;
}

.image-form {
    width: max-content;
}

.image-form img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.image-form .position-absolute {
    width: 2.3rem;
    height: 2.3rem;
    background-color: #ffff;
    border: 2px solid #eee;
    color: #000;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.image-form .position-absolute svg {
    stroke-width: 2px;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profile ul {
    list-style-type: none;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    border-radius: 10px;
    border: 1px solid #dddddda1;
}

.profile ul li {
    border-bottom: 1px solid #eee;
    padding: 0.4rem;
}

.profile ul li:last-child {
    border-bottom: none;
}

.profile ul li a {
    cursor: pointer;
    padding: 0.95rem 1.2rem;
    transition: 0.3s ease-in-out all;
}

.profile ul li a:hover {
    background-color: #eeeeeeac;
    border-radius: 6px;
}

.profile ul li a {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.profile ul li a svg {
    stroke-width: 1.5px;
    width: 23px;
    height: 23px;
}

.profile ul li a span {
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    opacity: 0.6;
    font-weight: 500;
}

.single-credential {
    margin-top: -1rem;
}

.single-credential .top {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 1rem;
}

.single-credential .top button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.15rem 1rem;
    padding-right: 1.3rem;
    border-radius: 100px;
    border: none;
    background-color: #fff;
    border: 1px solid crimson;
    color: crimson;
    gap: 0.6rem;
    font-weight: 500;
    cursor: pointer;
    font-size: 0.85rem;
}

.single-credential .top img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin-bottom: 0.7rem;
}

.single-credential .top h1 {
    font-size: 2rem;
    font-weight: 600;
}

.single-credential .top p {
    font-size: 0.95rem;
    opacity: 0.7;
    line-height: 195%;
}

.single-credential .tab {
    background-color: #eeeeee87;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0.3rem;
    border-radius: 100px;
    margin-bottom: 1rem;
}

.single-credential .tab p {
    width: 100%;
    text-align: center;
    border-radius: 100px;
    padding: 0.95rem 0.2rem;
    font-size: 0.85rem;
    border: 1px solid transparent;
    text-transform: lowercase;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

.single-credential .tab p.active {
    font-weight: 500;
    border: 1px solid #ddd;
    background-color: #fff;
}

.spaces {
    padding: 0.3rem 0;
    flex-direction: column;
    gap: 0.45rem;
}

.space > div {
    gap: 0.8rem;
}

.space {
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.space:hover {
    background-color: #eee;
}

.space .avatar {
    width: 3rem;
    height: 3rem;
    background-color: palegoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 500;
}

.space .info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: max-content;
}

.space .info h4 {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 150%;
}

.space .info p {
    font-size: 0.8rem;
    opacity: 0.35;
    font-weight: 300;
    width: 100%;
    max-width: 8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
}

.space button {
    cursor: pointer;
    background-color: crimson;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 0.75rem;
    padding: 0.8rem 1.4rem;
    border-radius: 100px;
}

.single-credential .metadata {
    padding: 0rem 0;
}

.single-credential .metadata .json {
    background-color: #eeeeeea2;
    overflow: scroll;
    white-space: nowrap;
    padding: 1.5rem 2rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.single-credential .metadata p {
    font-size: 0.95rem;
    line-height: 210%;
    color: #888;
    margin-bottom: 2rem;
}

.single-credential .metadata p strong {
    font-weight: 500;
    color: #000;
}

.no-data {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.no-data svg {
    stroke-width: 0.8px;
}

.no-data p {
    font-size: 0.88rem;
    width: 100%;
    max-width: 15rem;
    text-align: center;
    line-height: 165%;
    opacity: 0.5;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 90%);
    }
    100% {
        background-color: hsl(200, 20%, 94%);
    }
}

.single-credential-loader .image {
    width: 100%;
    height: 18rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.single-credential-loader p.skeleton {
    width: 90%;
    height: 1.25rem;
    border-radius: 100px;
}

.single-credential-loader > p {
    margin-bottom: 1.7rem;
}

.single-credential-loader div {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.single-credential-loader div p:nth-child(1) {
    width: 60%;
}

.single-credential-loader div p:nth-child(2) {
    width: 75%;
}

.single-credential-loader div p:nth-child(3) {
    width: 35%;
}

.credential-loader {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.credential-loader .creed {
    border: 1px solid #ddddddab;
    padding: 2rem 1rem;
    border-radius: 10px;
}

.credential-loader p.skeleton {
    width: 90%;
    height: 1.15rem;
    border-radius: 100px;
}

.credential-loader > div > p {
    margin-bottom: 1rem;
}

.credential-loader > div .json {
    width: 100%;
    height: 6rem;
    border-radius: 10px;
    margin-bottom: 1.4rem;
}

.credential-loader > div .info {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.credential-loader > div .info p:nth-child(1) {
    width: 60%;
}

.credential-lodaer > div .info p:nth-child(2) {
    width: 45%;
}

.tab {
    background-color: #eeeeee87;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0.3rem;
    border-radius: 100px;
    margin-bottom: 1rem;
}

.tab p {
    width: 100%;
    text-align: center;
    border-radius: 100px;
    padding: 0.95rem 0.2rem;
    font-size: 0.85rem;
    border: 1px solid transparent;
    text-transform: lowercase;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

.tab p.active {
    font-weight: 500;
    border: 1px solid #ddd;
    background-color: #fff;
}

.custom-Info {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    align-items: center; /* Align items at the top */
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.Group {
    line-height: 1;
}

.Group p {
    margin: 0;
    flex: 1;
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 6px;
}

.custom-Info-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.custom-Info span {
    font-size: 14px;
    font-weight: 400;
    flex: 1;
    word-wrap: break-word;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icons {
    display: flex;
    gap: 1.5rem;
    flex-shrink: 0;
    align-self: flex-start;
}

.group-custom {
    line-height: 1.5;
}

.group_button {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
}

.addbutton {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    background-color: #1e90ff;
    color: #fff;
    border: 0;
    outline: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.addbutton:hover {
    background-color: #1a78d4;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-left: 12px;
}

.connect-tg-box {
    background-color: rgba(30, 143, 255, 0.025);
    border: 1.5px solid dodgerblue;
    border-radius: 10px;
    color: #000;
    padding: 1.4rem 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.4rem;
}

.connect-tg-box p {
    font-size: 0.95rem;
    line-height: 200%;
    font-weight: 400;
    color: #000;
}

.connect-tg-box a {
    width: max-content;
}

.connect-tg-box button {
    all: unset;
    padding: 0.7rem 1.2rem;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
