@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  /* border: 1px solid red; */
}

:root {
  --bg: #000;
  --text: #fff;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.cont {
  min-height: 100dvh;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  padding-bottom: 2rem;
}

.bg-glow {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  z-index: -1;
}

.res-dev {
  width: 100%;
  max-width: 28rem;
}

input {
  border: 1px solid #666;
  outline: none;
}

input:focus {
  border: 1px solid rgb(208, 26, 208);
}

.rounded-pill {
  border-radius: 100px;
}
